body {width:100%;margin:auto;top:0!important;text-align:center;font-family:sans-serif;color:#fff;background-color:#faa5ba;animation:fadeIn 3s;}
.logo {height:8vh;margin-top:10px;}

iframe.skiptranslate {visibility:hidden!important;}
	
h1 {display:inline-block;margin:auto;padding:10px;}
h2 {margin-top:0;margin-bottom:5px;}
h2,h3 {margin:0;}
h4 {margin:0;padding-top:10px;padding-bottom:5px;}

li {padding-bottom:.5em;}

.navbar {overflow:auto;white-space:nowrap;width:100%;text-align:center;position:sticky;top:0;margin:0;padding:0;background-color:#eacd50;}
.navbar a {display:inline-block;color:#fff!important;text-align:center;padding:12px;text-decoration:none;}
a:link {color:#00b0ff;}
a:visited {color:grey;}
a:hover {background-color:#111;}
a:active {background-color:#00b0ff;}

.date {margin:0}
.article-img {max-width:100%;height:auto;border-radius:12px}
.disclaimer {margin:0;font-size:x-small;}

.flexbox1 {display:flex;margin:10px;flex-wrap:wrap;}
.flex-left {display:flex;flex-direction:column;flex:75%;padding:0;text-align:left;}
.flex-notices {display:flex;flex-direction:column;}
.flex-notices-sticky {display:flex;flex-direction:column;flex:50%;}
#content {opacity:1;transition:opacity .3s ease-in-out;}
#content.fade-out {opacity: 0;}
.content {margin:10px;padding:10px;border-radius:12px;}

.translate-container {display:flex;flex-direction:row;align-items:center;justify-content:center;margin:10px;background-color:#d768a2;border-radius:12px;}
.google-translate {display:flex;flex-direction:column;align-items:center;margin:0px;padding:10px;background-color:#d768a2;border-radius:12px;justify-content:center;}
	
.content-title {margin:10px;}
	
.greeting {margin:10px;background-color:#d768a2;border-radius:12px;}

.sidebar-iframe {display:flex;flex:25%;border-style:none;}
.flex-right {display:flex;flex-direction:column;flex:25%;height:1800px;padding:0;}
.link-container {display:flex;flex-direction:row;justify-content:center;margin:10px;background-color:#4589bc;border-radius:12px;}
.link-img {max-height:50px;border-radius:12px;padding:10px;}
.media {margin:10px;}

.swiper {
  width: 100%;
  max-width: 900px; /* Limits size on your PC */
  height: 500px;    /* Set a height or use 'auto' */
  border-radius: 12px;
  margin: 20px auto;
  z-index: 1;
  pointer-events: auto
}

.swiper-button-next, .swiper-button-prev {
  pointer-events: auto !important;
  cursor: pointer;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000; /* Black bars if image doesn't fit perfectly */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the whole image is visible without cropping */
}

/* Customizing the theme color (e.g., to match Satono Diamond's green/black) */
:root {
  --swiper-theme-color: #2e7d32; 
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media (max-width:1350px) {
  .flex-left,.flex-right {flex:100%;}
  .flex-notices {flex-direction:column;}
} 
